{% load static %}

<style>
  #hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="nav-link" href="#">
    {% if user.is_staff %}
      <a href="{% url 'dashboard' %}">
    {% endif %}
      <img id="logo" src="{% static 'img/logo.png'%}"></a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if request.user.is_staff %}
        <a class="nav-link" href="{% url 'dashboard'%}">Dashboard</a>
        <a class="nav-link" href="{% url 'products'%}">Products</a>
        {% endif %}
      </li>
    </ul>
  </div>

  <span id="hello-msg">Hello, {{ request.user }}</span>
  <span><a id="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>